
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



/ {
    chosen {
        zmk,keyboard = &split;
    };
    
     split {
        compatible = "zmk,split-keyboard";

        // Specify the left and right halves
        left {
            compatible = "zmk,matrix-scan";
		col-gpios
		    = <&pro_micro 2 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 3 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 4 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 5 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 6 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 7 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 8 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 9 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 21 GPIO_ACTIVE_HIGH>
		    ;
		row-gpios
		    = <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    ;
        };

        right {
            compatible = "zmk,matrix-scan";
		col-gpios
		    = <&pro_micro 2 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 3 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 4 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 5 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 6 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 7 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 8 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 9 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 21 GPIO_ACTIVE_HIGH>
		    ;
		row-gpios
		    = <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    ;
        };
    };    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Left half - row 1
                &kp Q    &kp W    &kp F    &kp P    &kp G    &kp J    &kp L    &kp U    &kp Y 
                // Right half - row 1
                &kp SQT  &kp Q    &kp W    &kp F    &kp P    &kp G    &kp J    &kp L    &kp U

                // Left half - row 2
                &kp A    &kp R    &kp S    &kp T    &kp D    &kp H    &kp N    &kp E    &kp I 
                // Right half - row 2
                &kp O    &kp A    &kp R    &kp S    &kp T    &kp D    &kp H    &kp N    &kp E

                // Left half - row 3
                &kp Z    &kp X    &kp C    &kp V    &kp B    &kp K    &kp M    &kp COMMA &kp DOT 
                // Right half - row 3
                &kp FSLH &kp Z    &kp X    &kp C    &kp V    &kp B    &kp K    &kp M    &kp COMMA

                // Left half - row 4
                &kp LCTRL &kp LGUI &kp LALT &kp SPC &kp BSPC &kp ENT &kp RALT &kp RGUI &kp RCTRL 
                // Right half - row 4
                &kp ESC  &kp LCTRL &kp LGUI &kp LALT &kp SPC &kp BSPC &kp ENT &kp RALT &kp RGUI

                // Left half - row 5
                &kp TAB  &kp L1   &kp L2   &kp L3   &kp L4   &kp L5   &kp L6   &kp L7   &kp L8
                // Right half - row 5   
                &kp L9   &kp TAB  &kp L1   &kp L2   &kp L3   &kp L4   &kp L5   &kp L6   &kp L7
            >;
        };
    };
};