/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		wakeup-source;
		// need 5 rows
		// and 9 columns
		// https://nicekeyboards.com/docs/nice-nano/pinout-schematic
		// columns along the left
		col-gpios
		    = <&pro_micro 2 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 3 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 4 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 5 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 6 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 7 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 8 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 9 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 21 GPIO_ACTIVE_HIGH>
		    ;
		row-gpios
		    = <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    ;
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {

// | + 	  | 1 | 2 |  3 | 4  | 5   |      |     |      | X |      |     |      | 6   | 7  | 8  | 9 | 0 | -
// | TAB  | q | w |  f | p  | g   |      |     |      | X |      |     |      | j   | l  | u  | y | ; | \
// | ESC  | a | r |  s | t  | d   |      |     |      | X |      |     |      | h   | n  | e  | i | o | '
// | SHFT | z | x |  c | v  | b   | CTRL | ALT | HOME | X | PGUP | SPR | CTRL | k   | m  | ,  | . | ? | SHFT
// |      | ` | \ | <- | -> | BSP | DEL  | END |      | X |      | PDN | ENTR | SPC | UP | DN | [ | ] |

        bindings = <
            &kp N0     &kp N1     &kp N2    &kp N3    &kp N4     &kp N5    &kp N6     &kp N7   &kp N8        &kp N9    &kp A    &kp B     &kp C   &kp D   &kp E     &kp F    &kp G &kp H
            &kp I    &kp J     &kp K    &kp L    &kp M     &kp N    &kp O     &kp P   &kp Q        &kp R    &kp S    &kp T     &kp U  &kp V  &kp W    &kp X   &kp Y   &kp Z
            &kp N0     &kp N1     &kp N2    &kp N3    &kp N4     &kp N5    &kp N6     &kp N7   &kp N8        &kp N9    &kp A    &kp B     &kp C   &kp D   &kp E     &kp F    &kp G &kp H
            &kp I    &kp J     &kp K    &kp L    &kp M     &kp N    &kp O     &kp P   &kp Q        &kp R    &kp S    &kp T     &kp U  &kp V  &kp W    &kp X   &kp Y   &kp Z
            &kp N0     &kp N1     &kp N2    &kp N3    &kp N4     &kp N5    &kp N6     &kp N7   &kp N8        &kp N9    &kp A    &kp B     &kp C   &kp D   &kp E     &kp F    &kp G &kp H
        >;

                };
        };
};
