/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		wakeup-source;
		// need 5 rows
		// and 9 columns
		// https://nicekeyboards.com/docs/nice-nano/pinout-schematic
		// columns along the left
		col-gpios
		    = <&pro_micro 2 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 3 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 4 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 5 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 6 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 7 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 8 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 9 GPIO_ACTIVE_HIGH>
		    , <&pro_micro 21 GPIO_ACTIVE_HIGH>
		    ;
		row-gpios
		    = <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    ;
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {

// | + 	  | 1 | 2 |  3 | 4  | 5   |      |     |      | X |      |     |      | 6   | 7  | 8  | 9 | 0 | -
// | TAB  | q | w |  f | p  | g   |      |     |      | X |      |     |      | j   | l  | u  | y | ; | \
// | ESC  | a | r |  s | t  | d   |      |     |      | X |      |     |      | h   | n  | e  | i | o | '
// | SHFT | z | x |  c | v  | b   | CTRL | ALT | HOME | X | PGUP | SPR | CTRL | k   | m  | ,  | . | ? | SHFT
// |      | ` | \ | <- | -> | BSP | DEL  | END |      | X |      | PDN | ENTR | SPC | UP | DN | [ | ] |

        bindings = <
            &kp PLUS    &kp 1     &kp 2    &kp 3    &kp 4     &kp 5    &none     &none   &none        &none    &none    &none     &kp N6  &kp N7  &kp N8    &kp N9   &kp N0   &kp MINUS
            &kp TAB     &kp Q     &kp W    &kp F    &kp P     &kp G    &none     &none   &none        &none    &none    &none     &kp J   &kp L   &kp U     &kp Y    &kp SEMI &kp BSLH
            &kp ESC     &kp A     &kp R    &kp S    &kp T     &kp D    &none     &none   &none        &none    &none    &none     &kp H   &kp N   &kp E     &kp I    &kp O    &kp SQT
            &kp LSHFT   &kp Z     &kp X    &kp C    &kp V     &kp B    &kp LCTRL &kp LALT &kp HOME    &kp PG_UP &kp LGUI  &kp RCTRL &kp K   &kp M   &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
            &none       &kp GRAVE &kp BSLH &kp LEFT &kp RIGHT &kp BSPC &kp DEL   &kp END  &none       &none    &kp PG_DN &kp ENT   &kp SPC &kp UP  &kp DOWN  &kp LBKT &kp RBKT &none
        >;

                };
        };
};
